@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-color: #48b649;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Satoshi-Variable";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main product page - images box shadow */

.product-page-images-box-shadow {
  filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.05));
}

.qr-code-box-shadow {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.06),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.video-player-box-shadow {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.06),
    0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.product-updates-section {
  background: url("../public/images/product-updates-bg.png");
  object-fit: cover;
}

.footer {
  background: url("../public/images/footer-bg.png");
  object-fit: cover;
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
